Repository hchtlz/trektestofficial: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint, prettier, slim_lint, rubocop

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit

pre-commit:
  parallel: true
  commands:
    stylelint:
      tags: css style
      glob: "**/*.css"
      run: yarn stylelint {staged_files} --fix
      stage_fixed: true
    eslint:
      tags: js style
      glob: "**/*.js"
      run: yarn eslint {staged_files} --fix
      stage_fixed: true
    prettier:
      tags: css js style
      glob: "{app,config,lib,spec}/**/*.{css,js,json,md,yml}"
      run: yarn prettier {staged_files} --write
      stage_fixed: true
    slim_lint:
      tags: slim style
      glob: "**/*.slim"
      run: bundle exec slim-lint {staged_files}
    rubocop:
      tags: ruby style
      glob: "**/*.rb"
      run: bundle exec rubocop --autocorrect {staged_files}
      stage_fixed: true

Link trek to local
  package.json
  yarn.lock
Due: none

add lookbook
  Gemfile
  Gemfile.lock
  config/routes.rb
  package.json
  yarn.lock
Due: rubocop

fix
  Gemfile
  Gemfile.lock
  config/routes.rb
Due: rubocop

wip
  Gemfile.lock
  config/routes.rb
Due: rubocop

fix wip
  Gemfile
  Gemfile.lock
  app/views/layouts/admin.html.slim
  config/locales/en.yml
  config/locales/fr.yml
Due: prettier, slim_lint

fix
  app/views/admin/menu_nodes/edit.html.slim
  app/views/admin/pages/index.html.slim
Due: slim_lint
